{% extends "base.html" %}

{% block container %}
    {% include "header.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-9 text-center border shadow">
               <div>
                    <section class="display-6 alert alert-primary my-3">Customer Feedback</section>
                    <form action="" method="post" class="py-3">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Submit" />
                    </form>
               </div>     
            </div>
        </div>
    </div>
{% endblock container %}